body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: grey;
      color: #f5f6f7;
    font-family: sans-serif;
      font-size: 16px;
  }
  h1, p {
    margin: 1em auto;
    text-align: center;
    color: cyan
  }
  form {
    width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
      margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
      width: 100%;
    min-height: 2em;
    background-color: rgb(180, 170, 100);
    border: 1px solid rgb(255, 174, 200);
    color: #ffffff
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: cyan;
    border-color: gold;
    min-width: 300px;
  }
  